@import 'tailwindcss';
@plugin '../lib/config/theme.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:where(.dark, .dark *), &:is(.dark *));
:root,
:host {
    --text-color-dimmed: var(--color-slate-400);
    --text-color-muted: var(--color-slate-500);
    --text-color-toned: var(--color-slate-600);
    --text-color-default: var(--color-slate-700);
    --text-color-highlighted: var(--color-slate-900);
    --text-color-inverted: var(--color-white);
    --background-color-default: var(--color-white);
    --background-color-muted: var(--color-slate-50);
    --background-color-elevated: var(--color-slate-100);
    --background-color-accented: var(--color-slate-200);
    --background-color-inverted: var(--color-slate-900);
    --border-color-default: var(--color-slate-200);
    --border-color-muted: var(--color-slate-200);
    --border-color-accented: var(--color-slate-300);
    --border-color-inverted: var(--color-slate-900);
    --color-blue: #007aff;
    --color-purple: #af52de;
}
.dark,
.dark *,
[data-theme='dark'] {
    color-scheme: dark;
    --text-color-dimmed: var(--color-slate-500);
    --text-color-muted: var(--color-slate-400);
    --text-color-toned: var(--color-slate-300);
    --text-color-default: var(--color-slate-200);
    --text-color-highlighted: var(--color-white);
    --text-color-inverted: var(--color-slate-900);
    --background-color-default: var(--color-slate-900) !important;
    --background-color-muted: var(--color-slate-800);
    --background-color-elevated: var(--color-slate-800);
    --background-color-accented: var(--color-slate-700);
    --background-color-inverted: var(--color-white);
    --border-color-default: var(--color-slate-600);
    --border-color-muted: var(--color-slate-700);
    --border-color-accented: var(--color-slate-400);
    --border-color-inverted: var(--color-white);
    --color-blue: #419cff;
    --color-purple: #da8fff;
}
.light,
.light *,
[data-theme='light'] {
    color-scheme: light;
    --text-color-dimmed: var(--color-slate-400);
    --text-color-muted: var(--color-slate-500);
    --text-color-toned: var(--color-slate-600);
    --text-color-default: var(--color-slate-700);
    --text-color-highlighted: var(--color-slate-900);
    --text-color-inverted: var(--color-white);
    --background-color-default: var(--color-white);
    --background-color-muted: var(--color-slate-50);
    --background-color-elevated: var(--color-slate-100);
    --background-color-accented: var(--color-slate-200);
    --background-color-inverted: var(--color-slate-900);
    --border-color-default: var(--color-slate-200);
    --border-color-muted: var(--color-slate-200);
    --border-color-accented: var(--color-slate-300);
    --border-color-inverted: var(--color-slate-900);
    --color-blue: #419cff;
    --color-purple: #da8fff;
}
@theme {
    --font-sans: var(--font-inter), 'Public Sans', sans-serif;
    --breakpoint-3xl: 1920px;
    --gradient-rainbow: linear-gradient(
        90deg,
        var(--wp-color-blue),
        var(--wp-color-purple)
    );
    --text-color-dimmed: var(--text-color-dimmed);
    --text-color-muted: var(--text-color-muted);
    --text-color-toned: var(--text-color-toned);
    --text-color-default: var(--text-color-default);
    --text-color-highlighted: var(--text-color-highlighted);
    --text-color-inverted: var(--text-color-inverted);
    --background-color-default: var(--background-color-default);
    --background-color-muted: var(--background-color-muted);
    --background-color-elevated: var(--background-color-elevated);
    --background-color-accented: var(--background-color-accented);
    --background-color-inverted: var(--background-color-inverted);
    --background-color-border: var(--border-color-default);
    --border-color-default: var(--border-color-default);
    --border-color-muted: var(--border-color-muted);
    --border-color-accented: var(--border-color-accented);
    --border-color-inverted: var(--border-color-inverted);
    --border-color-bg: var(--background-color-default);
    --ring-color-default: var(--border-color-default);
    --ring-color-muted: var(--border-color-muted);
    --ring-color-accented: var(--border-color-accented);
    --ring-color-inverted: var(--border-color-inverted);
    --ring-color-bg: var(--background-color-default);
    --ring-offset-color-default: var(--border-color-default);
    --ring-offset-color-muted: var(--border--colormuted);
    --ring-offset-color-accented: var(--border-color-accented);
    --ring-offset-color-inverted: var(--border-color-inverted);
    --ring-offset-color-bg: var(--background-color-default);
    --divide-color-default: var(--border-default);
    --divide-color-muted: var(--border-color-muted);
    --divide-color-accented: var(--border-color-accented);
    --divide-color-inverted: var(--border-color-inverted);
    --divide-color-bg: var(--background-color-default);
    --outline-color-default: var(--border-color-default);
    --outline-color-inverted: var(--border-color-inverted);
    --stroke-color-default: var(--border-color-default);
    --stroke-color-inverted: var(--border-color-inverted);
    --fill-color-default: var(--border-color-default);
    --fill-color-inverted: var(--border-color-inverted);
    --color-background: var(--bg-default);
    --color-foreground: var(--text-default);
    --text-2xs: 0.625rem;
}
body {
    color: var(--text-default);
    font-family: var(--font-sans);
}
